PORT=3000
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_INITDB_DATABASE=reserve-my-table
MONGO_INITDB_PORT=27017
MONGODB_URL=mongodb://<user>:<password>@<host>:27017/mydb
# SESSION_SECRET=mysecret
AVERAGE_STAYING_TIME=90
JWT_SECRET=myjwtsecret
ACCESS_TOKEN_EXPIRATION=8h
REFRESH_TOKEN_EXPIRATION=7d
RMT_APP_BASE_URL=http://localhost:5173
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
SMTP_FROM=info@rmt.com
ADMIN_EMAIL=admin@rmt.com
