<h2 class="page-header">Edit Table</h2>
<form action="/tables/<%= data._id %>/?_method=PUT" method="POST">
  <%- include('_form-fields') %>
  <div class="form-row form-row-end btn-row">
    <button class="btn btn-primary" type="submit">Update</button>
    <a class="btn btn-danger" href="/tables">Cancel</a>
  </div>
</form>