<h2 class="page-header">New Table</h2>
<form action="/tables" method="POST">
  <%- include('_form-fields') %>
  <div class="form-row form-row-end btn-row">
    <button class="btn btn-primary" type="submit">Create</button>
    <a class="btn btn-danger" href="/tables">Cancel</a>
  </div>
</form>