<div class="form-row">
  <div class="form-item">
    <label for="name">Status</label>
    <select name="status" required>
      <% for(const [k, v] of Object.entries(status_enum)) { %>

        <option label="<%= k %>" value="<%= v %>" <% if(v === data?.status) { %>selected<% } %>></option>
        <% } %>
    </select>
  </div>
</div>