<script>
  var availableTables = JSON.parse('<%- JSON.stringify(tables) %>'); // initially empty, fetched from server by ajax
  // to set checked
  const reservedTables = [];
</script>
<script defer src="/javascripts/reservations.js"></script>
<h2 class="page-header">New Reservation</h2>

<form id="new-reservation" action="/reservations" method="POST" onsubmit="onSubmitReservationForm(event)">
  <%- include('_form-fields') %>
  <div class="form-row form-row-end btn-row">
    <button class="btn btn-primary" type="submit">Create</button>
    <a class="btn btn-danger" href="/reservations">Cancel</a>
  </div>
</form>
<div class="dialog-wrapper">
  <div class="dialog">
    <h5>Confirm reservation?</h5>
    <div class="content">
      
    </div>
    <nav>
      <button class="btn btn-primary" onclick="submitReservationForm()">Confirm</button>
      <button class="btn btn-danger" onclick="closeDialog()">Cancel</button>
    </nav>
  </div>
</div>
