<div class="facility-grid">
  <% data.forEach(item => { %>
    <!-- <a href="/facilies/<%= item.id %>"> -->
      <div class="facility-name"><%= item.name %></div>
    <!-- </a> -->
    <div class="facility-address"><%= item.address %></div>
    <% }) %>
</div>