<style>
  /* controversial css only solution basic style */
  /* nav {    
    display: block;
    text-align: center;
  }
  nav ul {
    margin: 0;
    padding:0;
    list-style: none;
  }
  .nav a {
    display:block; 
    background: #111; 
    color: #fff; 
    text-decoration: none;
    padding: 0.8em 1.8em;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
  }
  .nav{  
    vertical-align: top; 
    display: inline-block;
    box-shadow: 
      1px -1px -1px 1px #000, 
      -1px 1px -1px 1px #fff, 
      0 0 6px 3px #fff;
    border-radius:6px;
  }
  .nav li {
    position: relative;
  }
  .nav > li { 
    float: left; 
    border-bottom: 4px #aaa solid; 
    margin-right: 1px; 
  } 
  .nav > li > a { 
    margin-bottom: 1px;
    box-shadow: inset 0 2em .33em -0.5em #555; 
  }
  .nav > li:hover, 
  .nav > li:hover > a { 
    border-bottom-color: orange;
  }
  .nav li:hover > a { 
    color:orange; 
  }
  .nav > li:first-child { 
    border-radius: 4px 0 0 4px;
  } 
  .nav > li:first-child > a { 
    border-radius: 4px 0 0 0;
  }
  .nav > li:last-child { 
    border-radius: 0 0 4px 0; 
    margin-right: 0;
  } 
  .nav > li:last-child > a { 
    border-radius: 0 4px 0 0;
  }
  .nav li li a { 
    margin-top: 1px;
  }
  .nav li a:first-child:nth-last-child(2):before { 
    content: ""; 
    position: absolute; 
    height: 0; 
    width: 0; 
    border: 5px solid transparent; 
    top: 50% ;
    right:5px;  
  }
  .nav ul {
    position: absolute;
    white-space: nowrap;
    border-bottom: 5px solid  orange;
    z-index: 1;
    left: -99999em;
  }
  .nav > li:hover > ul {
    left: auto;
    margin-top: 5px;
    min-width: 100%;
  }
  .nav > li li:hover > ul { 
    left: 100%;
    margin-left: 1px;
    top: -1px;
  }
  .nav > li > a:first-child:nth-last-child(2):before { 
    border-top-color: #aaa; 
  }
  .nav > li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent; 
    border-bottom-color: orange; 
    margin-top:-5px
  }
  .nav li li > a:first-child:nth-last-child(2):before {  
    border-left-color: #aaa; 
    margin-top: -5px
  }
  .nav li li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent; 
    border-right-color: orange;
    right: 10px; 
  } */

  /* another nav with flex */
:root {
    /*   border radius */
  --radius: 0.2rem;
}
.nav-list {
  background: var(--color-background-dark);
  box-shadow: 0px 0px 10px var(--color-text-light);
  padding: 1rem 0;
  border-radius: var(--radius);
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: var(--color-text-light);
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: white;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

/* .btn-primary {
  font-size: 1rem;
  background: var(--color-btn-primary-background);
  border: none;
  outline: none;
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.btn-primary:hover {
  background: var(--color-btn-primary-background-dark);
} */
</style>

<header>
  <!-- original using stylesheets/header.css -->
  <!-- <nav class="header-nav">
    <a class="header-title" href="/">Reserve My Table</a>
    <ul>
      <li><a href="/facilities">Facilities</a></li>
      <li><a href="/facilities/new">Add Facility</a></li>
      <li><a href="/tables">Tables</a></li>
      <li><a href="/tables/new">Add Table</a></li>
    </ul>
  </nav> -->
  <!-- markup for controversial css only solution -->
  <!-- <nav>
      <ul class="nav">
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a>
          <ul>
            <li><a href="#">item</a></li>
            <li><a href="#">item</a></li>
            <li><a href="#">item</a></li>
            <li><a href="#">item</a></li>
          </ul>
        </li>
        <li><a href="#">Resume</a>
          <ul>
            <li><a href="#">item a lonng submenu</a></li>
            <li><a href="#">item</a>
              <ul>
                <li><a href="#">Ray</a></li>
                <li><a href="#">Veronica</a></li>
                <li><a href="#">Bushy</a></li>
                <li><a href="#">Havoc</a></li>
              </ul>
            </li>
            <li><a href="#">item</a></li>
            <li><a href="#">item</a></li>
          </ul>
        </li>
        <li><a href="#">Download</a></li>
        <li><a href="#">Rants</a>
          <ul>
            <li><a href="#">item</a></li>
            <li><a href="#">item</a></li>
            <li><a href="#">item</a></li>
            <li><a href="#">item</a></li>
          </ul>
        </li>
        <li><a href="#">Contact</a></li>
      </ul>
  </nav> -->
  <!-- another nav with flex -->
  <nav>
    <ul class="nav-list">
      <li class="nav-item">
        <!-- <a href="#"><svg width="24" height="24" viewBox="0 0 24 24">
            <path
              d="M18.6,6.62C17.16,6.62 15.8,7.18 14.83,8.15L7.8,14.39C7.16,15.03 6.31,15.38 5.4,15.38C3.53,15.38 2,13.87 2,12C2,10.13 3.53,8.62 5.4,8.62C6.31,8.62 7.16,8.97 7.84,9.65L8.97,10.65L10.5,9.31L9.22,8.2C8.2,7.18 6.84,6.62 5.4,6.62C2.42,6.62 0,9.04 0,12C0,14.96 2.42,17.38 5.4,17.38C6.84,17.38 8.2,16.82 9.17,15.85L16.2,9.61C16.84,8.97 17.69,8.62 18.6,8.62C20.47,8.62 22,10.13 22,12C22,13.87 20.47,15.38 18.6,15.38C17.7,15.38 16.84,15.03 16.16,14.35L15,13.34L13.5,14.68L14.78,15.8C15.8,16.81 17.15,17.37 18.6,17.37C21.58,17.37 24,14.96 24,12C24,9 21.58,6.62 18.6,6.62Z" />
          </svg></a> -->
          <a href="/">Reserve My Table</a>
      </li>
      <% if(user.role === "admin") { %>
        <li class="nav-item">
          <a href="/facilities">Facilities</a>
        </li>
        <!-- <li class="nav-item">
          <a href="/facilities/new">Add Facility</a>
        </li> -->
      <% } else { %>%>
        <li class="nav-item">
          <a href="/tables">Tables</a>
        </li>
        <!-- <li class="nav-item">
          <a href="/tables/new">Add Table</a>
        </li> -->
        <li class="nav-item">
          <a href="/reservations?date=<%= new Date().toISOString().slice(0, 10) %>">Reservations</a>
        </li>
        <!-- <li class="nav-item">
          <a href="/reservations/new">Add Reservation</a>
        </li> -->
      <% } %>
      <li class="nav-item">
        <form action="/auth/logout/?_method=DELETE" method="POST">
          <button class="btn" type="submit">Log Out</button>
        </form>
      </li>
    </ul>
  </nav>
</header>