<% tableCoverClass = locals.large ? 'table-cover-large' : '' %>
<% tableGridClass = locals.large ? 'table-grid-large' : '' %>
<div class="table-grid <%= tableGridClass %>">
  <% data?.forEach(item => { %>
    <div class="table-name">
      <%= item.name %>
    </div>
    <div class="table-seats">
      <%= item.seats %>
    </div>
    <div class="table-description">
      <%= item.description %>
    </div>
  <% }) %>
</div>