:root {
  --table-width: 30%;
  --table-width-large: 30%;
  --table-cover-width: 200px;
  --table-cover-width-large: 325px;
  --table-cover-aspect-ratio: 0.75;
}

.table-cover {
  width: var(--table-cover-width);
  height: calc(var(--table-cover-width) / var(--table-cover-aspect-ratio));
}

.table-cover-large {
  --table-cover-width: var(--table-cover-width-large);
}

.table-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.table-name, .table-seats, .table-description {
  font-size: 1.2rem;

}

.table-grid {
  display: grid;
  justify-content: center;
  grid-gap: 2rem;
  grid-template-columns: 30% 18% 50%;
}

.table-grid-large {
  grid-template-columns: repeat(auto-fill, var(--table-width-large));
}

.table-details {
  display: flex;
}

.table-details-label {
  font-size: 1.2rem;
  font-weight: 500;
  align-self: flex-start;
}

.table-details-grid {
  display: grid;
  align-content: flex-start;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: auto auto;
}

.table-details-btn-grid {
  display: grid;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  grid-template-areas:
    "edit delete"
    "table table";
  grid-gap: .5rem;
  margin-top: .5rem;
}

.table-details-facility-button {
  grid-area: table;
  justify-self: stretch;
}

.available-tables {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.available-table {
  flex: 0 1 calc(50% - 2rem);
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1rem;
  border: solid 0.2rem;
  padding: 0.5rem;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 0.5rem;
}
.table-checkbox {
  flex: 0 1 2%; 
}
.table-name {
  flex: 3 1 50%; 
}
.table-seats {
  flex: 1 1 10%;
}