<h2 class="page-header">Register</h2>
<form action="/auth/register" method="POST" autocomplete="off">
  <input autocomplete="false" name="hidden" type="text" style="display:none;">
  <%- include('_extra-form-fields') %>
  <%- include('_form-fields') %>
    <div class="form-row form-row-end btn-row">
      <button class="btn btn-primary" type="submit">Register</button>
      <a class="btn btn-danger" href="/auth/login">Login</a>
    </div>
</form>